/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

@import 'twitter/bootstrap/variables';

a.disabled {
  // Custom case for link with no btn classes being disabled
  color: $gray-light;
  &:hover {
    color: $gray-light;
  }
}

@import 'font-awesome';
@import "twitter/bootstrap";

body {
  padding-top: 90px;
}

a:hover > i {
  // No underline on icons within a link
  text-decoration: none;
}

footer {
  .container {
    margin-top: 40px;
    border-top: 1px solid $gray-lighter;
    color: $gray-light;
    small {
      color: $gray-light;
    }
  }
}

.pad-horizontal {
  padding-left: 10px;
  padding-right: 10px;
}

.option-link {
  padding-left: 3px;
  padding-right: 3px;
}